<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>(NBB-API) - Homepage</title>
</head>
<body>
    <h1> SEJA BEM VINDO </h1>
    <h1> NBB-API HOMEPAGE </h1>
    <h3> API QUE OFERECE OS DADOS SOBRE JOGADORES E SEUS STATS NA LIGA NBB</h3>
    
    
    <dl>
        <dt> Info Jogadores </dt>
            <dd>
                https://nbb-api.herokuapp.com/athletes
            </dd>
        
        <dt> Estatística Pontos </dt>
            <dd>
                https://nbb-api.herokuapp.com/points?week={numeroDaSemana}&season={numeroDaTemporada}
                <br> 
                OBS: Atualmente a temporada é a de número 12
                <br>
                OBS2: Atualmente estamos na semana 7
            </dd>

        <dt> Estatística Rebotes </dt>
            <dd>
                https://nbb-api.herokuapp.com/rebounds?week={numeroDaSemana}&season={numeroDaTemporada}
                <br> 
                OBS: Atualmente a temporada é a de número 12
                <br>
                OBS2: Atualmente estamos na semana 7
            </dd>

        <dt> Estatística Assistencias </dt>
            <dd>
                https://nbb-api.herokuapp.com/assists?week={numeroDaSemana}&season={numeroDaTemporada}
                <br> 
                OBS: Atualmente a temporada é a de número 12
                <br>
                OBS2: Atualmente estamos na semana 7
            </dd>

        <dt> Estatística Eficiência  EM CONSTRUÇÃO</dt>
            <dd>
                https://nbb-api.herokuapp.com/efficience
            </dd>


    </dl>
</body>
</html>